<nav class="navbar navbar-expand-lg navbar-light" [ngStyle]="{'background-color': '#e3f2fd'}">
  <a class="navbar-brand" href="#">E-commerce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/catalogue" routerLinkActive="active" >Catalogue</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/createAccount" routerLinkActive="active" >Créer un compte</a>
      </li>
    </ul>
  </div>
</nav>